@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

:root {
  --font-lobster: "Lobster Two", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}